/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/* END RESET */
h1, h2 {
	color: white;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-weight: 900;
	padding-top: 20vh;
	font-size: 10vw;
	z-index: 1000;
	text-shadow: black 0.1em 0.1em 0.2em
}

h2 {
	font-size: 30px;
	padding-top: 40vh;
	font-style: italic;
	color: #abbcc4;
}
.welcome {
	background: url('images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 100vh;
	z-index: -100;
	position: relative;
}
.stars {
	width: 100%;
	height: 100vh;
	position: absolute;
		z-index: -50;
}
/* animation for stars */

@-webkit-keyframes twinkle {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes twinkle {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.stars {
-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    -webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: twinkle;
    -webkit-animation-timing-function: ease-in-out;

-moz-animation-direction: normal;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: twinkle;
    -moz-animation-timing-function: ease-in-out;
}
/**************** WEB WORK ******************/
.web_container {
	padding-top: 50px;
	width: 80%;
	margin: auto;
	clear: left;

}
.mac_container {
	width: 100%;
	position: relative;
		/*outline: red solid 1px;*/
}

.mac {
	width: 100%;
	position: absolute;
	margin: auto;
}

.tempermetro {
	position: absolute;
	width: 66%;
	margin-left: 17%;
	margin-top: 3.3%;
	z-index: -100;
}

.des_container {
	max-width: 800px;
	position: relative;
	/*outline: red solid 1px;*/
	padding-top: 53%;
	padding-left: 3%;
	margin-bottom: 100px;
}

.title, .description {
		font-family: 'Source Sans Pro', sans-serif;
}

.title {
	font-size: 55px;
	font-weight: 600;
	padding-bottom: 20px;
}

.description {
	line-height: 1.4;
	font-size: 20px;
	color: #646467;
	clear: left;
}

.tools {
	color: black;
	font-size: 25px;
	font-weight: 600;
}

.each_tool {
	background-color: #646467;
	color: white;
	padding: 10px;
	font-size: 18px;
	float: left;
	margin-top: 15px;
	margin-right: 10px;
	border-radius: 10px;
}
.break {
	padding-top: 20px;
}

.site_link {
	text-decoration: none;
	color: white;
	padding: 15px;
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
	background-color: orange;
	font-size: 20px;
	font-weight: 600;
	border-radius: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	clear: right;
	display: block;
	transition: background-color 0.5s ease;
}



.site_link.git_icon span{
	padding-left: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
	background: url('images/github-logo.svg') no-repeat;
	background-size: 30px 30px;
	background-position: 0;
	z-index: 100;
}

.site_link:hover{
	background-color: #d13b00;
}
/* MEDIA QUERI */
@media screen and (min-width: 1500px) {
	h2 {
		font-size: 40px;
	}
}

@media screen and (min-width: 1700px) {
	h2 {
		font-size: 50px;
	}
}

@media screen and (max-width: 500px) {
	.stars {
		display: none;
	}

	.welcome {
		background: url('images/backgroundsmall.jpg');
		no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
		height: 100vh;
		z-index: -100;
		position: relative;
	}

	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 20px;
		max-width: 90%;
		margin: 0 auto;
		padding-top: 20px;
		text-shadow: black 2px 2px 1px;
		color: white;
	}

	.web_container {
		width: 90%;
	}

	.title {
		font-size: 45px;
	}
	.site_link {
		font-size: 17px;
	}

	.each_tool {
		font-size: 16px;
	}

	.description {
		font-size: 17px;
	}
}

@media screen and (max-width: 350px) {
	.welcome {
		background: url('images/background300.jpg');
		no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
		height: 100vh;
		z-index: -100;
		position: relative;
	}
	h1 {
		padding-top: 20px;
		font-size: 40px;
	}


};
