/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: border-box;
}
/****************************************** END RESET */
.section-container {
	width: 100%;
	position: relative;
	float: left;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 100px;
}

.section-header{
	font-family: 'Oswald', sans-serif;
	color:#eaf0f1;
	font-size: 70px;
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 30px;
}

.graphicbg {
	background-color: #d6433f;
	z-index: 5;

}

.paintingbg{
	background-color: #1d676a;
	z-index: 2;
}

.webbg{
	background-color: #173039;
}

.aboutbg{
	background:  linear-gradient(
      rgba(223, 217, 181, 1),
      rgba(223, 217, 181, 0.8)
    ), url('images/pencil.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.about-header, .about_box{
	color: #5a4855;
}


.square {
	width: 40px;
	height: 40px;
	background-color: #eaf0f1;
	position: fixed;
	z-index: 10000;
	right: 0;
	cursor: pointer;

}

.nav-logo{
	width: 20px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.nav-logo:hover{
	cursor: pointer;
}

.nav-li{
	position: fixed;
	font-size: 18px;
	width: 100px;
	padding-left: 10px;
	height: 40px;
	z-index: 1000;
	top: 40px;
	right: 0;
	background-color: red;
	list-style-type: none;
	font-family: 'Oswald', sans-serif;
	line-height: 40px;
	font-weight: 300;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}


.nav-li a{
	color: #eaf0f1;
	text-decoration: none;
	display: block;
}

.li-home{
	background-color: #a48a7d;
	width: 60px;
	right: -150px;
}

.li-web {
	top: 80px;
	background-color: #173039;
	right: -150px;
	-webkit-transition-delay: 0.2s; /* Safari */
	transition-delay: 0.2s;
}

.li-graphic{
	top: 120px;
	background-color: #d6433f;
	width: 140px;
	right: -150px;
	-webkit-transition-delay: 0.3s; /* Safari */
			transition-delay: 0.3s;
}

.li-painting{
	top: 160px;
	right: -150px;
	background-color: #1d676a;
	-webkit-transition-delay: 0.4s; /* Safari */
			transition-delay: 0.4s;
}

.li-about{
	top: 200px;
	background-color: rgba(223, 217, 181, 1);
	width: 60px;
		right: -150px;
		-webkit-transition-delay: 0.5s; /* Safari */
				transition-delay: 0.5s;
}

.li-about a{
	color: #5a4855;
}

.move-nav{
	right: 0px;
}


h1, h2 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: #eaf0f1;
}

h1 {
	width: 100%;
	font-weight: 900;
	font-size: 9vw;
	z-index: 1000;
	text-shadow: 0px 2px 4px rgba(25, 25, 25, 0.9);
}

h2 {
	font-size: 30px;
	font-style: italic;
	padding-top: 20px;
	line-height: 1.4;
	text-shadow: 0px 2px 4px rgba(25, 25, 25, 0.9);
}

.welcome {
	z-index: 500;
	height: 100vh;
	width: 100%;
	position: relative;
	display: flex;
	display:-webkit-flex;
	align-items:center;
	-webkit-align-items:center;
	-webkit-justify-content: center;
	justify-content: center;
	overflow: hidden;
}

.background {
	z-index: -5;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	position: absolute;
	background:  linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url('images/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -2;
}


.mac_container {
	width: 100%;
	position: relative;
}

.mac {
	width: 100%;
	position: absolute;
	margin: auto;
	z-index: 100;
}

.video {
	position: absolute;
	width: 66%;
	margin-left: 17%;
	margin-top: 5.5%;
}

.cryptly{
	width: 68%;
}

.des_container {
	max-width: 800px;
	position: relative;
	padding-top: 53%;
	margin-bottom: 100px;
}

.title, .description, .tools {
	color: #eaf0f1;
	font-family: 'Oswald', sans-serif;
}

.about_box{
	color: #5a4855;
}

.title {
	font-size: 55px;
	font-weight: 700;
	padding-bottom: 20px;
	margin-top: 30px;
}

.description {
	line-height: 1.4;
	font-size: 20px;
	clear: left;
	font-weight: 300;
	padding-bottom: 50px;
}

.tools {
	font-size: 25px;
	font-weight: 600;
}

.each_tool {
	background-color: #00525f;
	color: #173039;
	padding: 10px;
	font-size: 18px;
	float: left;
	margin-top: 15px;
	margin-right: 10px;
	border-radius: 10px;
}
.break {
	padding-top: 20px;
}

.site_link {
	text-decoration: none;
	color: white;
	padding: 15px;
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
	background-color: #d6433f;
	font-size: 20px;
	font-weight: 300;
	border-radius: 10px;
		font-family: 'Oswald', sans-serif;
	clear: right;
	display: block;
	transition: background-color 0.5s ease;
}

.site_link.git_icon span{
	padding-left: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
	background: url('images/github-logo.svg') no-repeat;
	background-size: 30px 30px;
	background-position: 0;
	z-index: 100;
}

.site_link:hover{
	background-color: #ffa583;
}

.logos{
	opacity: 0.4;
	width: 25%;
	position: relative;
	float: left;
	overflow:hidden;
	background-color: white;
	-webkit-box-shadow: -7px 7px 8px -4px rgba(0,0,0,0.56);
	-moz-box-shadow: -7px 7px 8px -4px rgba(0,0,0,0.56);
	box-shadow: -7px 7px 8px -4px rgba(0,0,0,0.56);
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}





.logo {
	width: 100%;
	display: block;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.logos:hover .logo{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	-webkit-backface-visibility: hidden;
	/*-moz-transform: translatez(0) scale(1.1, 1.1);
	-webkit-transform: translateZ(0) scale(1.1, 1.1);
	transform: translateZ(0) scale(1.1,1.1);*/
	/* translateZ(0) makes sure image doesn't turn blury */

}

.logos:hover {
	opacity: 1.0;
	cursor: pointer;
	z-index: 1000;
}

.flyer1, .flyer2 {
	opacity: 0.5;
	position: relative;
	overflow: hidden;
	float: left;
	display: block;
	width: 33.3333%;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-box-shadow: -7px 7px 8px -4px rgba(0,0,0,0.56);
	-moz-box-shadow: -7px 7px 8px -4px rgba(0,0,0,0.56);
	box-shadow: -7px 7px 8px -4px rgba(0,0,0,0.56);
}


.flyer {
	width: 100%;
	display: block;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.flyer1:hover .flyer, .flyer2:hover .flyer{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	-webkit-backface-visibility: hidden;
}

.flyer1:hover, .flyer2:hover {
	opacity: 1;
	z-index: 100;
	cursor: pointer;
}

.map_container{
	opacity: 0.5;
	position: relative;
	overflow: hidden;
	float: right;
	display: block;
	width: 33.3333%;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-box-shadow: -7px 7px 8px -4px rgba(0,0,0,0.56);
	-moz-box-shadow: -7px 7px 8px -4px rgba(0,0,0,0.56);
	box-shadow: -7px 7px 8px -4px rgba(0,0,0,0.56);
}

.map {
	width: 100%;
	display: block;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.map_container:hover .map {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	-webkit-backface-visibility: hidden;
}

.map_container:hover{
	opacity: 1;
	z-index: 100;
	cursor: pointer;
}
/*************** End graphic design section **********/


.image_left img, .image_right img {
	width: 100%;
	display: block;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.image_right, .image_left{
	width: 40%;
	opacity: 0.4;
	position: relative;
	float: right;
	overflow:hidden;
	-webkit-box-shadow: -7px 7px 8px -4px rgba(0,0,0,0.56);
	-moz-box-shadow: -7px 7px 8px -4px rgba(0,0,0,0.56);
	box-shadow: -7px 7px 8px -4px rgba(0,0,0,0.56);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	display: block;
}

.image_left{
	width: 60%;
	float: left;
}

.image_left:hover, .image_right:hover{
	opacity: 1;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	cursor: pointer;

}

.image_des {
	display: none;
}

/************** ABOUT SECTION **********/


.contact_line {
	padding-top: 20px;
	font-size: 25px;
	color: #5a4855;
	font-weight: 700;
}

.contact {
	color: #d6433f;
}




/* MEDIA QUERI */
@media screen and (min-width: 1500px) {
	h2 {
		font-size: 40px;
	}

	.title {
		font-size: 80px;
	}

	.site_link {
		font-size: 25px;
	}

	.each_tool {
		font-size: 25px;
	}

	.description {
		font-size: 27px;
	}

	.des_container {
		max-width: 1000px;
	}

	.tools {
		font-size: 30px;
	}

	.about_box {
		max-width: 1000px;
	}

	.contact_line {
		font-size: 30px;
	}

	.section-header {
		font-size: 120px;
	}

}


@media screen and (min-width: 1700px) {
	h2 {
		font-size: 50px;
	}

}


@media screen and (max-width: 500px) {

	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 20px;
		max-width: 90%;
		margin: 0 auto;
		padding-top: 20px;
		text-shadow: black 2px 2px 1px;
		color: white;
	}


	.title {
		font-size: 45px;
	}
	.site_link {
		font-size: 17px;
	}

	.each_tool {
		font-size: 16px;
	}

	.description {
		font-size: 17px;
	}
}

@media screen and (max-width: 350px) {

	h1 {
		padding-top: 20px;
		font-size: 40px;
	}

};
