/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/* END RESET */
h1, h2 {
	color: white;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-weight: 900;
	padding-top: 20vh;
	font-size: 10vw;
	z-index: 1000;
	text-shadow: black 0.1em 0.1em 0.2em
}

h2 {
	font-size: 30px;
	padding-top: 40vh;
	font-style: italic;
	color: #abbcc4;
}
.welcome {
	background: url('images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 100vh;
	z-index: -100;
	position: relative;
}
.stars {
	width: 100%;
	height: 100vh;
	position: absolute;
		z-index: -50;
}
/* animation for stars */

@-webkit-keyframes twinkle {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes twinkle {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.stars {
-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    -webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: twinkle;
    -webkit-animation-timing-function: ease-in-out;

-moz-animation-direction: normal;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: twinkle;
    -moz-animation-timing-function: ease-in-out;
}

.yellow {
	width: 100%;
	height: 800px;
	background-color: yellow;
}

/* MEDIA QUERI */
@media screen and (min-width: 1500px) {
	h2 {
		font-size: 40px;
	}
}

@media screen and (min-width: 1700px) {
	h2 {
		font-size: 50px;
	}
}

@media screen and (max-width: 500px) {
	.stars {
		display: none;
	}
	.welcome {
		background: url('images/backgroundsmall.jpg');
		no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
		height: 100vh;
		z-index: -100;
		position: relative;
	}

	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 20px;
		max-width: 90%;
		margin: 0 auto;
		padding-top: 20px;
		text-shadow: black 2px 2px 1px;
		color: white;
	}
}

@media screen and (max-width: 350px) {
	.welcome {
		background: url('images/background300.jpg');
		no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
		height: 100vh;
		z-index: -100;
		position: relative;
	}
	h1 {
		padding-top: 10vh;
		font-size: 40px;
	}


};
