---
import {Image} from "astro:assets";
import Layout from "../layouts/Layout.astro";
import phone from "../../images/phone.svg";
import AnimatedText from "../components/AnimatedText.tsx";
import IconBG from "../components/IconBG.tsx";
---

<Layout title="Maureen Vogel | UIUX Design | Frontend">
  <IconBG client:only="react" />
  <div class="flex items-center justify-center h-screen">
    <div class="flex flex-col max-w-5xl text-6xl leading-normal text-white">
      <h1 class="font-bold">
        Heard you’re looking for a UI/UX designer & Frontend Dev. who can
      </h1>
      <AnimatedText client:only="react" />
    </div>
    <!-- <div
      class="bg-gradient-to-r
    from-pink-500
    via-red-500
    to-yellow-500
    background-animate"
    >
      
    </div> -->
  </div>
</Layout>
