---
import {Image} from "astro:assets";
import Layout from "../layouts/Layout.astro";
import phone from "../../images/phone.svg";
import Test from "../components/Test.tsx";
---

<Layout title="Maureen Vogel | UIUX Design | Frontend">
  <div class="flex items-center justify-center h-screen">
    <div class="flex flex-col max-w-5xl text-6xl leading-normal text-white">
      <h1 class="font-bold">
        Heard you’re looking for a UI/UX designer & Frontend Dev. who can
      </h1>
      <Test client:only="react" />
    </div>
    <div
      class="bg-gradient-to-r
    from-pink-500
    via-red-500
    to-yellow-500
    background-animate"
    >
      <Image src={phone} alt="phone" />
    </div>
  </div>
</Layout>
